.footer {
    margin: 100px 200px 20px 200px;

    .top {
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;

        .item {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: justify;
            font-size: 14px;
      
            h1{
              font-size: 18px;
              font-weight: 500;
              color: #555;
            }
      
            span{
              color: gray;
            }
        }
        .contactus {
           
            border-radius: 8px;
           
        
            h1 {
                color: #555;
                font-size: 18px;
                font-weight: 500;
            }
        
            .link {
                color: gray;
                font-size: 18px;
        
                &:hover {
                    text-decoration: underline;
                }
            }
            .link + .link {
                margin-left: 20px; // Adjust the value as needed for the desired gap
            }
        
            span {
                display: block;
                margin: 10px 0;
            }
        
            p {
                color: #333333;
                font-size: 18px;
                margin-top: 20px;
            }
        
            address {
                color: #666666;
                font-style: normal;
                line-height: 1.6;
                margin-top: 10px;
            }
        }
        
    }
    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        .left {
          display: flex;
          align-items: center;

          .link {
              color: #040404;
              font-weight: bold;
              font-size: 40px;
            }

    
    
          .copyright{
            margin-left: 20px;
            font-size: 12px;
            color: gray;
          }
        }
        .right {
    
          img{
            height: 50px;
          }
        }  
      }
}